@import "../../styles/breakpoints";

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  @media (max-width: $breakpoint-lg) {
    margin: 0 20px;
  }
}

.navbar {
  margin: 20px 10px 40px;
  display: flex;
  align-items: center;
}