@import "styles/breakpoints";
@import "styles/colors";

.wrapperLoading {
  @extend .wrapper;
  margin-top: 20px;

  .heading {
    max-width: 450px;
    text-align: center;
    margin: 0px auto;
  }
}

.wrapper {
  .heading {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    h1 {
      margin-bottom: 10px;
      font-size: 30px;
      @media (max-width: $breakpoint-md) {
        font-size: 23px;
      }
    }
    p {
      font-size: 19px;
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }
    }
    a {
      color: $blue-dark;
      &:hover {
        border-bottom: 1px solid $blue-dark;
      }
    }
  }

  .actions {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    button {
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    a {
      margin-right: 10px;

      @media (max-width: $breakpoint-md) {
        flex: 1;
      }
    }
    .apply {
      background: $blue-dark;
      color: white;
      font-weight: 500;
      padding: 10px 40px;
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
    }
    .saved {
      background: $yellow-light;
      color: $yellow-dark;
      transition: background 0.2s ease, color 0.3s ease;
    }
    .unsaved {
      background: $gray-light;
      color: $gray-dark;
      transition: background 0.2s ease, color 0.3s ease;
    }
  }

  .description {
    margin-top: 30px;
    .descriptionHeader {
      font-size: 18px;
      font-weight: 500;
    }
    h1, h2 {
      margin-bottom: 10px;
      font-weight: 500;
    }
    strong {
      font-weight: 500;
      display: block;
    }
    p {
      margin: 15px 0;
    }

    ul {
      list-style-type: circle;
      padding-left: 20px;
      margin-bottom: 15px;
    }
  }
}