@import "styles/breakpoints";
@import "styles/colors";

.wrapperLoading {
  @extend .wrapper;
  margin-top: 20px;

  .heading {
    max-width: 450px;
    text-align: center;
    margin: 0px auto;
  }
}

.wrapper {
  .heading {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    h1 {
      margin-bottom: 10px;
      font-size: 30px;
      @media (max-width: $breakpoint-md) {
        font-size: 26px;
      }
    }
    p {
      font-size: 19px;
    }
    a {
      color: $blue-dark;
      &:hover {
        border-bottom: 1px solid $blue-dark;
      }
    }
  }

  .actions {
    text-align: center;
    border-bottom: 1px solid rgba($color: $gray-dark, $alpha: 0.3);
    padding-bottom: 30px;
    button {
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-left: 5px;
      }
    }
    .apply {
      background: $blue-dark;
      color: white;
    }
  }

  .description {
    margin-top: 30px;
    .descriptionHeader {
      font-size: 21px;
      font-weight: 500;
    }
    h1, h2 {
      margin-bottom: 10px;
      font-weight: 500;
    }
    strong {
      font-weight: 500;
      display: block;
    }
    p {
      margin: 15px 0;
    }

    ul {
      list-style-type: circle;
      padding-left: 20px;
      margin-bottom: 15px;
    }
  }
}