.search {
  background-color: #F1F8FF;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    input {
      flex: 1;
      border: none;
      border-radius: 5px;
      padding: 12px;
      font-size: 15px;
    }
    button {
      border: none;
      padding: 0 20px;
      background-color: #0366D6;
      color: white;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}