@import "styles/breakpoints";
@import "styles/mixins";

.search {
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    input {
      flex: 1;
      border: none;
      border-radius: 5px;
      padding: 12px;
      font-size: 17px;
      @include placeholder-color(#a8b2bb);
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }
    }
    button {
      display: flex;
      align-items: center;
      padding: 0 20px;
      background-color: #0070f3;
      color: white;
      border-radius: 5px;
      font-size: 21px;
      font-weight: bold;
    }
    .reset {
      background: none;
      color: gray;
      padding: 0;
      margin-right: 10px;
    }
  }
}