@import "styles/colors";
@import "styles/breakpoints";

.wrapper {
  border-bottom: 1px solid #EAEAEA;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    margin: 10px 0;
    flex: 1;
    &:hover {
      cursor: pointer;
      .title {
        color: $blue-dark;
      }
    }

    .title {
      font-weight: 500;
      font-size: 21px;
      margin-bottom: 5px;
      transition: color 0.2s ease;
      @media (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }

    .subtitle {
      color: $gray-dark;
      max-width: 400px;
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }
    }

    .titleLoading {
      @extend .title;
      max-width: 520px;
    }

    .subtitleLoading {
      @extend .subtitle;
      max-width: 320px;
    }
  }

  button {
    padding: 0;
  }
}