@import "styles/colors";

.wrapper {
  padding: 15px 0;
  margin: 10px 0;
  border-bottom: 1px solid #EAEAEA;
  &:hover {
    cursor: pointer;
    .title {
      color: $blue-dark;
    }
  }

  .title {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 5px;
    transition: color 0.2s ease;
  }

  .subtitle {
    color: $gray-dark;
    max-width: 400px;
  }
}