@import "styles/colors";
@import "styles/breakpoints";

.wrapper {
  button {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 25px;
  }
}