$blue-dark: #0070f3;

$gray-dark: #888888;
$gray-medium: rgba($color: $gray-dark, $alpha: 0.2);
$gray-light: rgba($color: $gray-dark, $alpha: 0.1);

$yellow-dark: #F4B226;
$yellow-light: rgba($color: $yellow-dark, $alpha: 0.1);