@mixin placeholder-color ($color) {
  &::-webkit-input-placeholder {
    color: $color;
    &:focus{
      &::-webkit-input-placeholder {
        color: $color;
      }
    }
  }
  &:-moz-placeholder {
   color: $color;
   opacity:  1;
   &:focus{
     &:-moz-placeholder {
        color: $color;
        opacity:  1;
     }
   }
  }
  &::-moz-placeholder {
   color: $color;
   opacity:  1;
   &:focus{
     &::-moz-placeholder {
        color: $color;
        opacity:  1;
     }
   }
  }
}