@import "styles/colors";

.wrapper {
  background-color: white;
  border-bottom: 1px solid rgba($color: $gray-dark, $alpha: 0.2);
  padding: 15px 0;
  margin-bottom: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  button {
    padding: 0;
    margin: 0;
    svg {
      color: $gray-dark;
    }
  }
}